@media (min-width: 801px) {
    #main-header, .content {
        transition: margin-left .5s ease;
        margin-left: 250px;
    }

    #main-sidebar {
        width: 250px;
        position: fixed;
        padding: 0 5px;
    }

    #main-sidebar.collapsed {
        width: 4.5rem;
    }

    #main-sidebar header h3:not(.icon),
    #navigation-items .nav-item .nav-link span:last-child {
        transition: color .3s ease;
    }

    #navigation-items .nav-item .nav-link {
        transition: padding .3s ease;
        transition-property: width, padding;
    }

    #main-sidebar.collapsed:not(:hover) header h3:not(.icon),
    #main-sidebar.collapsed:not(:hover) #navigation-items .nav-item .nav-link span:last-child {
        color: rgba(0, 0, 0, 0);
    }

    #main-sidebar.collapsed:not(:hover) #navigation-items .nav-item .nav-link {
        width: 3.3rem;
        padding-left: 16px;
        margin-left: 4px;
    }

    #main-sidebar.collapsed:not(:hover) header .icon {
        margin-left: 1.5rem;
    }

    #main-sidebar.collapsed:hover {
        width: 250px;
        position: absolute;
    }

    #main-header.collapsed, .content.collapsed {
        margin-left: 4.5rem;
    }

    #close-sidebar {
        display: none;
    }

    .list-group {
        max-width: 75%;
        margin: .5rem 1rem;
    }

    .list-actions {
        display: none;
    }

    .list-group-item:hover div .list-actions {
        display: block;
    }

    .custom-alert {
        width: calc(100vw - 255px) !important;
    }
}

@media (max-width: 800px) {
    #main-sidebar {
        width: 0;
        position: absolute;
    }

    #main-sidebar.collapsed {
        width: 250px;
    }

    #main-sidebar.collapsed {
        padding: 0 5px;
    }

    #close-btn {
        margin-left: 250px;
        width: 5px;
    }

    #sidebar-overlay.collapsed {
        display: block;
    }

    .list-group {
        width: 100%;
        margin: .5rem 0;
    }

    .list-group li:not(:first-child) {
        padding: .5rem 1rem;
    }
}

#main-sidebar {
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0, 204, 153, .3), 0 28px 10px rgba(38, 38, 38, 0.25);
    display: block;
    z-index: 1030;
    transition: width .3s ease-out;
}

#sidebar-overlay {
    display: none;
    background-color: rgba(256, 256, 256, .5);
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1021;
}

#toggle-btn span {
    font-size: 1.5rem
}

.nav-link {
    color: #ddd;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    margin: 2px 0;
}

#main-sidebar header h3:last-of-type {
    color: var(--light-text);
}

#main-sidebar header, #navigation-items .nav-item .nav-link {
    white-space: nowrap;
}

#navigation-items .nav-item.active .nav-link {
    background-color: var(--secondary);
    color: var(--light-text);
}

#navigation-items li .nav-link .fa {
    padding-right: 1.2rem;
}

.nav-item.active .nav-link:hover {
    color: var(--light-text) !important;
}

#navigation-items .nav-item:not(.active) .nav-link:hover {
    color: var(--light-text) !important;
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 5px;
}

#main-sidebar header h3 {
    display: inline-block;
}

main {
    overflow-x: hidden;
    height: 100vh;
}

header {
    height: auto;
}

span {
    animation: color .5s ease;
}

/* Custom File Input */
.custom-file-btn {
    height: 4rem;
    width: 4rem;
    background-color: var(--secondary);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 0;
    font-size: 1.3rem;
    color: white;
    transition: font-size .2s ease;
}

.custom-file-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    font-size: 1.6rem;
    cursor: pointer;
}

#thumbnail-btn {
    width: 18rem;
    height: 18rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 3px solid #ddd;
    background-color: none !important;
    cursor: pointer;
}

#thumbnail-btn li {
    opacity: .85;
    color: white !important;
    transition: font-size .3s ease;
}

#thumbnail-btn:hover {
    font-size: 1.5rem !important;
}

#form-toggler {
    width: 50px;
    height: 50px;
    margin: auto;
    z-index: 2;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;
}

#form-toggler li {
    transition: transform .3s ease;
}

#form-toggler:focus {
    opacity: 1 !important;
}

#form-toggler+hr {
    transform: translateY(-27px);
    margin: 0;
    padding-bottom: 0;
}

#form-toggler:not(.collapsed):not(.edit) li {
    transform: rotate(45deg);
}

.logo {
    width: 50px;
    height: 50px;
}

.list-group-item {
    padding: 1rem 0;
}

#messages {
    margin: 5px 0;
}

#messages a {
    padding: 20px 15px
}

#messages a p {
    color: #999
}

#messages a p strong {
    color: #777;
}

#single-message {
    margin: 15px 10px;
    border-radius: 5px;
}

#single-message .card-header {
    border-top: 5px solid var(--secondary);
}

.card-actions a {
    color: #999 !important;
    font-size: 1.2rem;
    margin: 0 2px;
}

.card-actions a:hover {
    color: #999 !important;
}
