<div class="card-body">
    <div class="col-md-6" style="display: inline-block;">
        <div class="form-group">
        <label>Title:</label>
        {{ form.title(class="form-control", placeholder="Title...") }}
    </div>
    <div class="form-group">
        <label for="start-date">Start Date:</label>
        <div class="input-group date" id="reservationdate" data-target-input="nearest">
            {{ form.start_date(class="form-control datetimepicker-input", placeholder="Start Date...", **{"data-target":"#reservationdate"}) }}
            <div class="input-group-append" dsata-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        </div>
        <div class="form-group">
        <label>Finish Date:</label>
        <div class="input-group date" id="reservationdate" data-target-input="nearest">
            {{ form.finish_date(class="form-control datetimepicker-input", placeholder="Finish Date...", **{"data-target":"#reservationdate"}) }}
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        </div>
        <div class="form-group">
        <label>Location:</label>
        {{ form.location(class="form-control", placeholder="Location...") }}
    </div>
    </div>
    <div class="col-md-6 float-right" style="display: inline-block;">
        <div class="form-group">
        <label>Description:</label>
        {{ form.description(class="form-control", rows="11", placeholder="Write more...", style="height:296px") }}
    </div>
    </div>
    <button type="submit" class="btn btn-success">{% if kind %} Add New {% else %} Edit {% endif %}</button>
    <a href="{{ url_for('admin.experiences') }}" class="btn btn-default float-right">Cancel</a>
</div>