<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{{ url_for("static", filename="styles/base_style.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="index/styles/custom.css") }}'>
    <title>{{ profile.fullname }}</title>
</head>

<body class="bg-img d-flex align-items-center justify-content-center flex-column"
    style="background: linear-gradient(to bottom ,rgba(38, 38, 38, 0.9), rgb(0, 204, 153, .9)),url({{ url_for('static', filename='images/bg/' + profile.bg) }});">
    <header class="container-fluid d-flex align-items-center flex-column justify-content-center">
        <h3>سلام!</h3>
        <h1>من {{ profile.fullname.upper() }} هستم</h1>
        <a href='#main'>
            <li class="fa fa-angle-down"></li>
        </a>
    </header>
    <main id='main' class="bg-light d-flex justify-content-center">
        <img src="{{ url_for('static', filename='images/thumbnail/' + profile.thumbnail) }}" alt=""
            class="thumbnail-img rounded-circle">
        <div class="container">
            <div id='wrapper' class="row">

                <!-- PROFILE -->
                <section id='profile' class="col-12 container-fluid my-5">
                    <h2>پروفایل</h2>
                    <div class="row py-3">
                        <div class="col-xl-7 px-xl-5">
                            <h4>درباره من</h4>
                            <div class="mt-3">
                                <p>{{ profile.about }}</p>
                            </div>
                        </div>
                        <div class="col-xl-5 container-fluid px-3">
                            <h4>مشخصات</h4>
                            <div class="row px-2 mt-3">
                                <div class="col-md-6">
                                    <strong>
                                        <li class='fa fa-angle-left'></li>
                                        نام:
                                    </strong>
                                    <br>
                                    {{ profile.fullname }}
                                    <br>
                                    <strong>
                                        <li class='fa fa-angle-left'></li>
                                        سن:
                                    </strong>
                                    <br>
                                    {{ profile.age }}
                                </div>
                                <div class="col-md-6">
                                    <strong>
                                        <li class='fa fa-angle-left'></li>
                                        تاریخ تولد:
                                    </strong>
                                    <br>
                                    {{ profile.birth.strftime("%Y/%m/%d") }}
                                    <br>
                                    <strong>
                                        <li class='fa fa-angle-left'></li>
                                        مکان:
                                    </strong>
                                    <br>
                                    {{ profile.location }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- SKILLS -->
                <section id="skills" class="container-fluid my-5 col-12">
                    <h2>مهارت ها</h2>
                    <div class="row flex-xl-row-reverse">
                        {% for col in skills %}
                        <div class="col-xl-6 pr-xl-5 pr-md-4 mb-n4 px-3">
                            {% for skill in col %}
                            <div class="progress-wrapper">
                                <label for="{{ skill.id }}">{{ skill.name }}</label>
                                <div id="{{ skill.id }}" class="custom-progress-bar mb-2">
                                    <div class="progress-done" data-done="{{ skill.scale }}">
                                        <span>{{ skill.scale }}%</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <!-- EDUCATIONS -->
                <section id="educations" class="container-fluid my-5 col-12">
                    <h2>سوابق تحصیلی</h2>
                    {% for edu in educations %}
                    <div class="row experience-wrapper">
                        <div class="col-xl-3">
                            <h5>{{ edu.title }}</h5>
                            <p class="period">{{ edu.start_date }} - {{ edu.finish_date }}</p>
                        </div>
                        <div class="col-xl-9">
                            <button class="more-or-less btn btn-link text-secondary btn-sm">
                                <li class="fa fa-angle-down"></li>
                            </button>
                            <p>{{ edu.description }}</p>
                            <span class="location">
                                <li class="fa fa-map-marker"></li>
                                {{ edu.location }}
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </section>

                <!-- LANGUAGES -->
                <section id="languages" class="container-fluid col-12 my-5">
                    <h2>زبان</h2>
                    <div class="row flex-xl-row-reverse">
                        {% for col in langs %}
                        <div class="col-xl-6 pr-xl-5 pr-md-4 mb-n4 px-3">
                            {% for lang in col %}
                            <div class="progress-wrapper">
                                <label for="{{ lang.id }}">{{ lang.name }}</label>
                                <div id="{{ lang.id }}" class="custom-progress-bar mb-2">
                                    <div class="progress-done" data-done="{{ lang.scale }}">
                                        <span>{{ lang.scale }}%</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <!-- CAREERS -->
                <section id="educations" class="container-fluid my-5 col-12">
                    <h2>سوابق کاری</h2>
                    {% for career in careers %}
                    <div class="row experience-wrapper">
                        <div class="col-xl-3">
                            <h5>{{ career.title }}</h5>
                            <p class="period">{{ career.start_date }} - {{ career.finish_date }}</p>
                        </div>
                        <div class="col-xl-9">
                            <button class="more-or-less btn btn-link text-secondary btn-sm">
                                <li class="fa fa-angle-down"></li>
                            </button>
                            <p>{{ career.description }}</p>
                            <span class="location">
                                <li class="fa fa-map-marker"></li>
                                {{ career.location }}
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </section>

                <!-- CONTACT -->
                <section id='contact' class="container-fluid col-12 my-5">
                    <h2>تماس</h2>
                    <div class="row">
                        <div id='contact-info' class="col-xl-4 border-xl-left mt-md-3">
                            {% for contact in contacts %}
                            <a href="https://{{ contact.address }}" target="_blank" data-target='tooltip'
                                title='{{ contact.name }}'>
                                <img src="{{ url_for('static', filename='images/logo/' + contact.logo) }}"
                                    alt="{{ contact.name }}" class="logo"> <span> {{ contact.address }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <div id='contact-form' class="col-xl-8">
                            <form action="{{ url_for('index') }}" class="container-fluid" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="input-group my-3">
                                            {{ form.subject(id="subject", class="form-control") }}
                                            <span>موضوع</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group my-3">
                                            {{ form.sender_email(id="email", class="form-control", placeholder=' ') }}
                                            <span>آدرس ایمیل</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            {{ form.msg(rows='10', id='messages', class='form-control') }}
                                            <span>پیام</span>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="ارسال" class="btn btn-primary float-left px-5 py-2 mt-4">
                            </form>
                        </div>
                </section>
            </div>
        </div>
    </main>
    {% include 'partials/flash.html' %}

    <footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
        <script src='{{ url_for("static", filename="js/base_script.js") }}'></script>
        <script src='{{ url_for("static", filename="index/js/script.js") }}'></script>
    </footer>
</body>

</html>