{% extends 'admin/base.html' %}

{% block title %}{{ kind }}{% endblock %}


{% block main %}
<div class="table-container">
    <form id="ability-form" action="{{ url_for('admin.new_ability', kind=kind.lower()) }}" method="POST">
        {{ form.hidden_tag() }}
    </form>
    <table class="table">
        <caption>{{ kind }}</caption>
        <thead>
            <tr>
                <th style="width: 3%;">ID</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 50%;">Progress</th>
                <th style="width: 3%;">Scale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td>{{ form.name(class="in-table-input", form="ability-form",) }}</td>
                <td>{{ form.progress(id='scale-connector-range', form="ability-form", onchange='setNumbericalInputAsRange()') }}</td>
                <td>{{ form.scale(id='scale-connector-numberical', class="in-table-input", form="ability-form", onchange='setRangeAsNumbericalInput()') }}</td>
                <td>
                    <input class="btn bg-success" type="submit" value="Create" form="ability-form">
                </td>
            </tr>
            {% for ability in abilities %}
            <tr>
                <td>{{ ability.id }}</td>
                <td>{{ ability.name }}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress-done bg-safe" data-done="{{ ability.scale }}">
                        </div>
                    </div>
                <td>{{ ability.scale }}%</td>
                <td>
                    <a class="btn bg-warning" href="{{ url_for('admin.edit_ability', id=ability.id) }}">Edit</a>
                    <a class="btn bg-danger" href="{{ url_for('admin.delete_ability', id=ability.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}