{% extends 'admin/base.html' %}

{% block title %}{% if kind == 'language' %} زبان {% else %} مهارت {% endif %} ها{% endblock %}

{% block content %}
<ul class="list-group list-group-flush">
    <button id='form-toggler' class="btn btn-primary collapsed" data-toggle='collapse' data-target='.collapseable-form'>
        <li class="fa fa-plus"></li>
    </button>
    <hr>
    <li class="list-group-item collapseable-form collapse">
        <form action="{{ url_for('admin.new_ability', kind=kind) }}" id='new-ability' class="container-fluid" method="POST">
            <div class="row px-1 my-4">
                <div class="col-8">
                    <div class="input-group">
                        {{ form.name(id="name", class="form-control") }}
                        <span>{% if kind == 'language' %} زبان {% else %} مهارت {% endif %} جدید</span>
                    </div>
                </div>
                <div class="col-4 mx-0">
                    <div class="input-group">
                        {{ form.scale(id="numerical-scale", class="form-control", placeholder=' ') }}
                        <span>سطح تسلط</span>
                    </div>
                </div>
            </div>
            <div class="row px-1">
                <div class="col-12">
                    {{ form.progress(class="custom-range", id="progress-scale") }}
                </div>
            </div>
            <div class="float-left my-3 px-1">
                <input type="submit" value="افزودن" class="btn btn-primary">
            </div>
        </form>
    </li>
    {% for ability in abilities %}
    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-11 col-10">
                    <div class="progress-wrapper">
                        <label for="{{ ability.name.replace(' ', '-').lower() }}">{{ ability.name }}</label>
                        <div id="{{ ability.name.replace(' ', '-').lower() }}" class="custom-progress-bar mb-2">
                            <div class="progress-done" data-done="{{ ability.scale }}">
                                <span>{{ ability.scale }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-2">
                    <a href="{{ url_for('admin.delete_ability', id=ability.id) }}" class="list-actions text-danger float-right" data-traget='tooltip' title='حذف'><span class="fa fa-remove"></span></a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
