<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/styles/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_style.css') }}">
    <title>ادمین | {% block title %}{% endblock %} </title>
</head>

<body>
    <aside id='main-sidebar' class="bg-img d-flex flex-column" style="background: linear-gradient(to right ,rgba(38, 38, 38, 0.95), rgb(0, 204, 153, .95)), url({{ url_for('static', filename='images/bg/' + profile.bg) }});">
        <header class="text-center mt-3 mb-4">
            <h3 class="icon">{{ profile.fullname[0] }}‍</h3><h3>{{ profile.fullname[1:] }}</h3>
        </header>
        <ul id='navigation-items' class="nav nav-pills flex-column">
            <li class="nav-item" id='profile'>
                <a href="{{ url_for('admin.set_profile') }}" class="nav-link">
                    <span class="fa fa-user"></span>
                    <span>پروفایل</span>
                </a>
            </li>
            <li class="nav-item" id='skills'>
                <a href="{{ url_for('admin.skills') }}" class="nav-link">
                    <span class="fa fa-check"></span>
                    <span>مهارت ها</span>
                </a>
            </li>
            <li class="nav-item" id='languages'>
                <a href="{{ url_for('admin.languages') }}" class="nav-link">
                    <span class="fa fa-language"></span>
                    <span>زبان</span>
                </a>
            </li>
            <li class="nav-item" id='educations'>
                <a href="{{ url_for('admin.educations') }}" class="nav-link">
                    <span class="fa fa-book"></span>
                    <span>سوابق تحصیلی</span>
                </a>
            </li>
            <li class="nav-item" id='careers'>
                <a href="{{ url_for('admin.careers') }}" class="nav-link">
                    <span class="fa fa-coffee"></span>
                    <span>سوابق شغلی</span>
                </a>
            </li>
            <li class="nav-item" id='inbox'>
                <a href="{{ url_for('admin.inbox') }}" class="nav-link">
                    <span class="fa fa-envelope"></span>
                    <span>پیام ها</span>
                </a>
            </li>
            <li class="nav-item" id='contacts'>
                <a href="{{ url_for('admin.contact_info') }}" class="nav-link">
                    <span class="fa fa-phone"></span>
                    <span>اطلاعات تماس</span>
                </a>
            </li>
        </ul>
    </aside>
    <div id="sidebar-overlay"></div>
    <main>
        <header id='main-header'>
            <nav class="navbar navbar-expand navbar-light bg-light navbar-collapse">
                <button id='toggle-btn' href="#" class="nav-link btn btn-link" role="button">
                    <span class="fa fa-bars"></span>
                </button>
                <a href="#" class="navbar-brand">پنل ادمین</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('admin.inbox') }}" class="nav-link text-secondary" data-target='tooltip' title='پیام ها'>
                            <span class="fa fa-comments-o"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('admin.logout') }}" class="nav-link text-danger" data-target='tooltip' title='خروج'>
                            <span class="fa fa-sign-out"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <span class="fa fa-ellipsis-v"></span>
                        </a>
                        <div class="dropdown-menu ml-3 text-right" aria-labelledby="navbarDropdown">
                            <a href="{{ url_for('index') }}" class="dropdown-item">صفحه اصلی</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ url_for('admin.inbox') }}" class="dropdown-item">ایمیل ها</a>
                            <a href="{{ url_for('admin.change_password') }}" class="dropdown-item">پسورد</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ url_for('admin.logout') }}" class="dropdown-item text-danger">خروج</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% include 'partials/flash.html' %}
    </main>

    <footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src='{{ url_for("static", filename="admin/js/script.js") }}'></script>
        <script src='{{ url_for("static", filename="js/base_script.js") }}'></script>
    </footer>
</body>

</html>
