{% extends 'admin/base.html' %}

{% block title %}Password{% endblock %}

{% block content %}
<form class='container py-2 mt-4 px-5 text-center' action="#" method="POST">
                <div class="my-5 px-md-5">
                    <div class="input-group">
                        {{ form.old_password(id="old-pwd", class="form-control") }}
                        <span>Current Password</span>
                    </div>
                </div>
                <div class="my-5 px-md-5">
                    <div class="input-group">
                        {{ form.new_password(id="new-pwd", class="form-control") }}
                        <span>New Password</span>
                    </div>
                </div>
                <div class="my-5 px-md-5">
                    <div class="input-group">
                        {{ form.config_password(id="config-pwd", class="form-control") }}
                        <span>Config Password</span>
                    </div>
                </div>
                <div class="px-md-5 mb-5 float-right">
                    <input type="submit" value="SUBMIT" class="btn btn-primary">
                </div>
            </form>
{% endblock %}
