{% extends 'admin/base.html' %}

{% block title %}Change Paassword{% endblock %}

{% block content %}
<div id="profile" class="container-fluid bg-img text-right" style="background-image: url({{ url_for( 'static', filename='images/bg/' + profile.bg) }})">
    <div class="container py-3 text-md-center">
        <div class="col-md-7 col-sm-12 m-auto">
            <form action="{{ url_for('admin.change_password') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group my-4">
                    <label for="old-pwd">Current Password:</label>
                    {{ form.old_password(id="old-pwd", class="form-control", placeholder="Current password...") }}
                    <!-- <input id="old-pwd" type="password" class="form-control" placeholder="Current password..."> -->
                </div>
                <div class="form-group my-4">
                    <label for="new-pwd">New Password:</label>
                    {{ form.new_password(id="new-pwd", class="form-control", placeholder="New password...") }}
                    <!-- <input id="new-pwd" type="password" class="form-control" placeholder="New password..."> -->
                </div>
                <div class="form-group my-4">
                    <label for="config-pwd">Config New Password:</label>
                    {{ form.config_password(id="config-pwd", class="form-control", placeholder="Config password...") }}
                    <!-- <input id="config-pwd" type="text" class="form-control" placeholder="Config password..."> -->
                </div>
                <input type="submit" class="btn btn-primary" value="Apply Changes" style="width: 100%">
            </form>
        </div>
    </div>
</div>
{% endblock %}
