{% extends 'admin/base.html' %}

{% block title %}ویرایش{% endblock %}

{% block content %}
<form id='edit-experience' action="{{ url_for('admin.edit_experience', id=id) }}" class="container-fluid" method='POST'>
    <div class="row px-1 my-4">
        <div class="col-12">
            <div class="input-group">
                {{ form.title(id="title", class="form-control") }}
                <span>عنوان</span>
            </div>
        </div>
    </div>
    <div class="row px-1 my-4">
        <div class="col-6">
            <div class="input-group">
                {{ form.start_date(id="start-date", class="form-control") }}
                <span>تاریخ شروع</span>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                {{ form.finish_date(id="finish-date", class="form-control") }}
                <span>تاریخ پایان</span>
            </div>
        </div>
    </div>
    <div class="row px-1 my-4">
        <div class="col-12">
            <div class="input-group">
                {{ form.location(id="location", class="form-control") }}

                <span>مکان</span>
            </div>
        </div>
    </div>
    <div class="row px-1 my-3">
        <div class="col-12">
            <div class="input-group">
                {{ form.description(id="description", rows="4", class="form-control") }}
                <span>توضیحات</span>
            </div>
        </div>
    </div>
    <div class="float-left my-3 px-1">
        <input type="submit" value="ویرایش" class="btn btn-primary">
    </div>
</form>
{% endblock %}
