{% extends 'admin/base.html' %}

{% block title %}{{ kind.title() + 's' }}{% endblock %}

{% block content %}
<ul id='experiences' class="list-group list-group-flush">
                <button id='form-toggler' class="btn btn-primary collapsed" data-toggle='collapse' data-target='.collapseable-form'>
                    <li class="fa fa-plus"></li>
                </button>
                <hr>
                <li class="list-group-item collapseable-form collapse">
                    <form id='new-experience' action="{{ url_for('admin.new_experience', kind=kind) }}" class="container-fluid" method='POST'>
                        <div class="row px-1 my-4">
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.title(id="title", class="form-control") }}
                                    <span>Title</span>
                                </div>
                            </div>
                        </div>
                        <div class="row px-1 my-4">
                            <div class="col-6">
                                <div class="input-group">
                                    {{ form.start_date(id="start-date", class="form-control") }}
                                    <span>Start Date</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    {{ form.finish_date(id="finish-date", class="form-control") }}
                                    <span>Finish Date</span>
                                </div>
                            </div>
                        </div>
                        <div class="row px-1 my-4">
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.location(id="location", class="form-control") }}

                                    <span>Location</span>
                                </div>
                            </div>
                        </div>
                        <div class="row px-1 my-3">
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.description(id="description", rows="4", class="form-control") }}
                                    <span>Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-right my-3 px-1">
                            <input type="submit" value="ADD" class="btn btn-primary">
                        </div>
                    </form>
                </li>
                {% for experience in experiences %}
                <li class="list-group-item container-fluid">
                    <div class="row">
                        <div class="col-11">
                            <h3>{{ experience.title }}</h3>
                            <p class="period">{{ experience.start_date }} - {{ experience.finish_date }}</p>
                            <p class="overflow-hidden">{{ experience.description }}</p>
                        </div>
                        <div class="dropdown col-1">
                            <a class="text-secondary float-right list-actions" id='{{ experience.title.replace(' ', '-').lower() }}' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-ellipsis-v"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby='{{ experience.title.replace(' ', '-').lower() }}'>
                                <a class="dropdown-item" href="{{ url_for('admin.edit_experience', id=experience.id) }}">Edit</a>
                                <a class="dropdown-item" href="{{ url_for('admin.delete_experience', id=experience.id) }}}">Remove</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
{% endblock %}
