{% extends 'admin/base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}
<header class="bg-pink py-2 text-center">
    <h3>Your Messages</h3>
</header>
<input type="search" name="contact" id="searchField" class="form-control contact-input rounded-0" placeholder="Search for..." onkeyup="filter(this)">
<div id="inbox" class="content list-group">
    {% for msg in messages %}
    <a href="{{ url_for('admin.single_message', id=msg.id) }}">
        <div id="{{ msg.subject.replace(' ', '') }}" class="list-group-item">
            <small class="float-right sent-date">
                <li class="fa fa-clock"></li>in {{msg.postage_date.strftime("%Y/%m/%d") }} at {{msg.postage_date.strftime("%H:%M") }}
            </small>
            <h5>{{ msg.subject }}</h5>
            <small class="text-muted">From: {{ msg.sender_email }}</small>
            <div class="msg-body text-secondary">
                <p>{{ msg.msg }}</p>
            </div>
            <div class="float-right mt-1">
                <a class="mx-1" href="{{ url_for('admin.delete_message', id=msg.id) }}">
                    <li class="fa fa-trash text-danger"></li>
                </a>
                <a class="mx-1" href="mailto:{{ msg.sender_email }}">
                    <li class="fa fa-reply text-info"></li>
                </a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
