<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/login/styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>

<body data-spy="scroll" data-target=".navbar-collapse"
    style="background-image:url('{{ url_for('static', filename='images/bg/' + bg) }}')">
    <div class="container">
        <div class="header">
            <h1>Login</h1>
        </div>
        <div class="form">
            <form id="login" action="#" method="POST">
                {{ form.hidden_tag() }}
                <div class="password">
                    <label for="password">
                        <li class="fa fa-lock"></li>
                    </label>
                    {{ form.password(id='password', placeholder='Enetr your password') }}
                </div>
                <input type="submit" value="Login">
                {% include 'admin/partials/flash.html' %}
            </form>
        </div>
    </div>
</body>

</html>