/* Base styles */

@font-face {
    font-family: "Comic-Sans-MS";
    src: url("fonts/ComicSansMS.eot") format("eot");
    src: url("fonts/ComicSansMS.otf") format("otf");
    src: url("fonts/ComicSansMS.ttf") format("ttf");
    src: url("fonts/ComicSansMS.woff") format("woff");
}

*, body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic-Sans-MS" !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic-Sans-MS" !important;
}

div.thumbnail>img {
    border-radius: 100%;
    height: 350px;
    width: 350px;
}

.flash {
    display: inline-block;
    margin: 0;
    position: sticky;
    padding: 5px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 1em;
    color: #333;
}

.progress-bar, .progress-done {
    border-radius: .5em;
}

.progress-done {
    height: 100%;
    width: 0;
    text-align: center;
    min-width: 1rem;
}

.bg-danger {
    background-color: #dc3545;
    color: white;
}

.bg-warning {
    background-color: #ffc107;
    color: #333 !important;
}

.bg-success {
    background-color: #28a745;
    color: white;
}

.bg-safe {
    background-color: #17a2b8;
    color: white;
}

.bg-blue {
    background-color: #1d3e63 !important;
    color: white;
}

.bg-white {
    background-color: white !important;
    color: #1d3e63;
}