@media (max-width: 500px) {
    .more-or-less {
        display: block !important;
    }

    .experience-wrapper div:last-child p {
        max-height: 0;
        overflow: hidden;
    }
}

html {
    scroll-padding: 20vh;
}

header {
    height: 100vh;
    margin-bottom: 20vh;
}

header a {
    font-size: 3rem;
    width: 5rem;
    text-align: center;
    border-top: 3px solid var(--primary);
}

header a li {
    transition: transform 1.5s ease;
    animation-name: upAndDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

main {
    width: 95%;
    min-height: 100vh;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 50px;
    position: relative;
}

.thumbnail-img {
    border: 5px solid var(--light);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 225px;
}

#wrapper {
    margin-top: 150px;
}

h2 {
    border-bottom: 5px solid var(--secondary);
    width: 5rem;
}

strong {
    margin-top: 1rem;
    display: inline-block;
}

strong li {
    color: var(--secondary);
    font-size: 1.3rem !important;
}

.custom-progress-bar {
    transition: width .3s ease;
}

.progress-wrapper:hover .custom-progress-bar {
    width: 102%;
}

.progress-done span {
    transition: padding .5s ease;
    transition-property: padding, bottom;
}

.progress-wrapper:hover .custom-progress-bar .progress-done span {
    padding: 5px;
    bottom: -25px;
}

.experience-wrapper {
    margin: 3rem 0;
}

.experience-wrapper div:last-child p {
    height: initial;
    transition: max-height .5s ease;
}

.more-or-less {
    position: relative;
    width: 100%;
    text-align: right;
    color: var(--secondary) !important;
    border-top: 2px solid var(--secondary) !important;
    font-size: 1.5rem;
    padding: 0 5px;
    display: none;
}


.location {
    color: var(--secondary);
}

.logo {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin: 0 5px;
}

#contact-info a {
    display: block;
    margin: 1rem 0;
}
