<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.fullname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/styles/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body data-spy="scroll" data-target=".navbar-collapse"
    style="background-image:url('{{ url_for('static', filename='images/bg/' + profile.bg) }}')">

    <header>
        <nav>
            <a href="#profile" style="color: #fffba6 !important;">Profile</a>
            <a href="#abilities" style="color: #a6cfff;">Abilities</a>
            <a href="#expereinces" style="color: #48c268;">Expereince</a>
            <a href="#contact" style="color: #ffb0ca;">Contact</a>
        </nav>
        <div class="container">
            <div class="thumbnail">
                <img src="{{ url_for('static', filename='images/thumbnail/' + profile.thumbnail) }}" alt="">
            </div>
            <div class="profile">
                <div class="title">
                    <h1>Hi! <br> I'm {{ profile.fullname }}</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <section id="profile">
            <div class="about-me">
                <div class="about">
                    <h1>About Me</h1>
                    <p>{% if profile.about %}{{ profile.about }}{% endif %}</p>
                </div>
                <div class="detail">
                    <h1>Details</h1>
                    <strong>Name:</strong> <br>
                    <span>{% if profile.fullname %}{{ profile.fullname }}{% endif %}</span> <br>
                    <strong>Age:</strong> <br>
                    <span>{% if profile.age %}{{ profile.age }}{% endif %}</span> <br>
                    <strong>Location:</strong> <br>
                    <span>{% if profile.location %}{{ profile.location}}{% endif %}</span> <br>
                </div>
            </div>
        </section>

        <section id="abilities">
            {% if skills %}
            <div class="skills bg-blue">
                <h1>Skills</h1>
                {% for skill in skills %}
                <label for="{{ skill.name }}">{{ skill.name }} - {{ skill.scale }}%</label>
                <div class="progress-bar">
                    <div class="progress-done bg-white" data-done="{{ skill.scale }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if langs %}
            <div class="langs bg-white">
                <h1>Languages</h1>
                {% for lang in langs %}
                <label for="{{ lang.name }}">{{ lang.name }} - {{ lang.scale }}%</label>
                <div class="progress-bar">
                    <div class="progress-done bg-blue" data-done="{{ lang.scale }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </section>

        <section id="expereinces">
            {% if educations %}
            <div class="educations">
                <h1>Educations</h1>
                {% for edu in educations %}
                <div class="single-experience">
                    <h3>{{ edu.title }}</h3>
                    <h4>{{ edu.location }}</h4>
                    <h4>{{ edu.start_date }} - {{ edu.finish_date }}</h4>
                    <p>{% if edu.description %}{{ edu.description }}{% endif %}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if careers %}
            <div class="careers">
                <h1>Careers</h1>
                {% for career in careers %}
                <div class="single-experience">
                    <h3>{{ career.title }}</h3>
                    <h4>{{ career.location }}</h4>
                    <h4>{{ career.start_date }} - {{ career.finish_date }}</h4>
                    <p>{% if career.description %}{{ career.description }}{% endif %}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </section>

        <section id="contact">
            {% if contacts %}
            <div class="contact-items">
                <div class="be-in-touch">
                    <h1>Be in Touch!</h1>
                    {% for contact in contacts %}
                    <a class="contact-item" href="https://{{ contact.address }}">
                        {% if contact.logo %}
                        <img class='logo'
                            src="{{ url_for('static', filename='images/logo/' + contact.logo, _external=True) }}"
                            alt="">
                        {% endif %}
                        <span>{{ contact.name }}: {{ contact.address }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="contact-form">
                <div class="send-msg">
                    <h1>Hire Me!</h1>
                    <form action="{{ url_for('index') }}" , method="POST">
                        {{ form.hidden_tag() }}
                        <label for="sender_email">Email Address</label>
                        {{ form.sender_email(placeholder="Email Address") }}
                        <label for="subject">Subject</label>
                        {{ form.subject(placeholder="Subject") }}
                        <label for="msg">Message</label>
                        {{ form.msg(rows="10", placeholder="Message") }}
                        <!-- Flash Message -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for cat, msg in messages %}
                        <div class="msg-box {{ cat }}">{{ msg }}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <!-- End -->
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <small>Developed by: Fatem Maqu</small>
        <small><a href="https://github.com/FatemMaqu/">Clone it from Github!</a></small>
        <script src="{{ url_for('static', filename='js/progress_bar.js') }}"></script>
    </footer>


</body>

</html>