/* Login page styels */
@import url("../../../base_style.css");


html,
body {
    margin: auto;
    padding: auto;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,
.form {
    padding: 5px;
}

.header {
    background-color: #228a57;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.form {
    background-color: white;
    width: 370px;
    height: 230px;
    border-radius: 0 0 10px 10px;
}

.password {
    margin: 55px 45px;
    background-color: white;
    color: #228a57;
}

form div input[type='password'] {
    color: black;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-left: 2px;
}

form input[type="submit"] {
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px 20px;
    color: #228a57;
    border: 1px solid #228a57;
    border-radius: 5px;
}

form input[type="password"]:focus {
    outline: none;
    border: 1px solid #228a57;
}

form input[type="submit"]:focus {
    background-color: #228a57;
    color: white;
}